@model IEnumerable<ElectronicShop.Physical>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_Of_Passport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Physical_Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.ID_Customer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Of_Passport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Physical_Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.ID_Customer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Customer }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Customer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Customer })
        </td>
    </tr>
}

</table>
