@model ElectronicShop.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Of_Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Of_Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.ID_Contract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.ID_Contract)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Payment }) |
    @Html.ActionLink("Back to List", "Index")
</p>
